.btn-accept{background-image:url(../icons/btn/accept.gif)!important;background-repeat:no-repeat;}
.btn-accept1{background-image:url(../icons/btn/accept1.gif)!important;background-repeat:no-repeat;}
.btn-add{background-image:url(../icons/btn/add.gif)!important;background-repeat:no-repeat;}
.btn-add1{background-image:url(../icons/btn/add1.gif)!important;background-repeat:no-repeat;}
.btn-advsearch{background-image:url(../icons/btn/advsearch.gif)!important;background-repeat:no-repeat;}
.btn-agent{background-image:url(../icons/btn/agent.gif)!important;background-repeat:no-repeat;}
.btn-chart{background-image:url(../icons/btn/chart.gif)!important;background-repeat:no-repeat;}
.btn-collapse{background-image:url(../icons/btn/collapse.gif)!important;background-repeat:no-repeat;}
.btn-delete{background-image:url(../icons/btn/delete.gif)!important;background-repeat:no-repeat;}
.btn-delete1{background-image:url(../icons/btn/delete1.gif)!important;background-repeat:no-repeat;}
.btn-detail{background-image:url(../icons/btn/detail.gif)!important;background-repeat:no-repeat;}
.btn-detail1{background-image:url(../icons/btn/detail1.gif)!important;background-repeat:no-repeat;}
.btn-download{background-image:url(../icons/btn/download.gif)!important;background-repeat:no-repeat;}
.btn-edit{background-image:url(../icons/btn/edit.gif)!important;background-repeat:no-repeat;}
.btn-excel{background-image:url(../icons/btn/excel.gif)!important;background-repeat:no-repeat;}
.btn-expand{background-image:url(../icons/btn/expand.gif)!important;background-repeat:no-repeat;}
.btn-help{background-image:url(../icons/btn/help.gif)!important;background-repeat:no-repeat;}
.btn-order{background-image:url(../icons/btn/order.gif)!important;background-repeat:no-repeat;}
.btn-pdf{background-image:url(../icons/btn/pdf.gif)!important;background-repeat:no-repeat;}
.btn-print{background-image:url(../icons/btn/print.gif)!important;background-repeat:no-repeat;}
.btn-refresh{background-image:url(../icons/btn/refresh.gif)!important;background-repeat:no-repeat;}
.btn-reset{background-image:url(../icons/btn/reset.gif)!important;background-repeat:no-repeat;}
.btn-save{background-image:url(../icons/btn/save.gif)!important;background-repeat:no-repeat;}
.btn-search{background-image:url(../icons/btn/search.gif)!important;background-repeat:no-repeat;}
.btn-setting{background-image:url(../icons/btn/setting.gif)!important;background-repeat:no-repeat;}
.btn-stop{background-image:url(../icons/btn/stop.gif)!important;background-repeat:no-repeat;}
.btn-stop1{background-image:url(../icons/btn/stop1.gif)!important;background-repeat:no-repeat;}
.btn-Thumbs{background-image:url(../icons/btn/Thumbs.db)!important;background-repeat:no-repeat;}
.btn-undo{background-image:url(../icons/btn/undo.gif)!important;background-repeat:no-repeat;}
.btn-word{background-image:url(../icons/btn/word.gif)!important;background-repeat:no-repeat;}

.mnu-application{background-image:url(../icons/menu/application.gif)!important;background-repeat:no-repeat;}
.mnu-application_edit{background-image:url(../icons/menu/application_edit.gif)!important;background-repeat:no-repeat;}
.mnu-application_form_edit{background-image:url(../icons/menu/application_form_edit.gif)!important;background-repeat:no-repeat;}
.mnu-application_form_magnify{background-image:url(../icons/menu/application_form_magnify.gif)!important;background-repeat:no-repeat;}
.mnu-application_key{background-image:url(../icons/menu/application_key.gif)!important;background-repeat:no-repeat;}
.mnu-application_lightning{background-image:url(../icons/menu/application_lightning.gif)!important;background-repeat:no-repeat;}
.mnu-application_side_expand{background-image:url(../icons/menu/application_side_expand.gif)!important;background-repeat:no-repeat;}
.mnu-application_side_list{background-image:url(../icons/menu/application_side_list.gif)!important;background-repeat:no-repeat;}
.mnu-application_side_tree{background-image:url(../icons/menu/application_side_tree.gif)!important;background-repeat:no-repeat;}
.mnu-application_view_detail{background-image:url(../icons/menu/application_view_detail.gif)!important;background-repeat:no-repeat;}
.mnu-calendar{background-image:url(../icons/menu/calendar.gif)!important;background-repeat:no-repeat;}
.mnu-car{background-image:url(../icons/menu/car.gif)!important;background-repeat:no-repeat;}
.mnu-chart_bar{background-image:url(../icons/menu/chart_bar.gif)!important;background-repeat:no-repeat;}
.mnu-chart_bar_link{background-image:url(../icons/menu/chart_bar_link.gif)!important;background-repeat:no-repeat;}
.mnu-chart_curve{background-image:url(../icons/menu/chart_curve.gif)!important;background-repeat:no-repeat;}
.mnu-chart_curve_link{background-image:url(../icons/menu/chart_curve_link.gif)!important;background-repeat:no-repeat;}
.mnu-chart_line{background-image:url(../icons/menu/chart_line.gif)!important;background-repeat:no-repeat;}
.mnu-chart_line_edit{background-image:url(../icons/menu/chart_line_edit.gif)!important;background-repeat:no-repeat;}
.mnu-chart_line_link{background-image:url(../icons/menu/chart_line_link.gif)!important;background-repeat:no-repeat;}
.mnu-chart_organisation{background-image:url(../icons/menu/chart_organisation.gif)!important;background-repeat:no-repeat;}
.mnu-chart_pie{background-image:url(../icons/menu/chart_pie.gif)!important;background-repeat:no-repeat;}
.mnu-chart_pie_link{background-image:url(../icons/menu/chart_pie_link.gif)!important;background-repeat:no-repeat;}
.mnu-cog_edit{background-image:url(../icons/menu/cog_edit.gif)!important;background-repeat:no-repeat;}
.mnu-cog_go{background-image:url(../icons/menu/cog_go.gif)!important;background-repeat:no-repeat;}
.mnu-coins{background-image:url(../icons/menu/coins.gif)!important;background-repeat:no-repeat;}
.mnu-color_wheel{background-image:url(../icons/menu/color_wheel.gif)!important;background-repeat:no-repeat;}
.mnu-comments{background-image:url(../icons/menu/comments.gif)!important;background-repeat:no-repeat;}
.mnu-comment_blue{background-image:url(../icons/menu/comment_blue.gif)!important;background-repeat:no-repeat;}
.mnu-computer{background-image:url(../icons/menu/computer.gif)!important;background-repeat:no-repeat;}
.mnu-database{background-image:url(../icons/menu/database.gif)!important;background-repeat:no-repeat;}
.mnu-database_add{background-image:url(../icons/menu/database_add.gif)!important;background-repeat:no-repeat;}
.mnu-database_edit{background-image:url(../icons/menu/database_edit.gif)!important;background-repeat:no-repeat;}
.mnu-database_gear{background-image:url(../icons/menu/database_gear.gif)!important;background-repeat:no-repeat;}
.mnu-database_go{background-image:url(../icons/menu/database_go.gif)!important;background-repeat:no-repeat;}
.mnu-database_key{background-image:url(../icons/menu/database_key.gif)!important;background-repeat:no-repeat;}
.mnu-database_lightning{background-image:url(../icons/menu/database_lightning.gif)!important;background-repeat:no-repeat;}
.mnu-database_refresh{background-image:url(../icons/menu/database_refresh.gif)!important;background-repeat:no-repeat;}
.mnu-database_save{background-image:url(../icons/menu/database_save.gif)!important;background-repeat:no-repeat;}
.mnu-date_previous{background-image:url(../icons/menu/date_previous.gif)!important;background-repeat:no-repeat;}
.mnu-email{background-image:url(../icons/menu/email.gif)!important;background-repeat:no-repeat;}
.mnu-feed{background-image:url(../icons/menu/feed.gif)!important;background-repeat:no-repeat;}
.mnu-film{background-image:url(../icons/menu/film.gif)!important;background-repeat:no-repeat;}
.mnu-folder{background-image:url(../icons/menu/folder.gif)!important;background-repeat:no-repeat;}
.mnu-folder_database{background-image:url(../icons/menu/folder_database.gif)!important;background-repeat:no-repeat;}
.mnu-folder_edit{background-image:url(../icons/menu/folder_edit.gif)!important;background-repeat:no-repeat;}
.mnu-folder_explore{background-image:url(../icons/menu/folder_explore.gif)!important;background-repeat:no-repeat;}
.mnu-folder_feed{background-image:url(../icons/menu/folder_feed.gif)!important;background-repeat:no-repeat;}
.mnu-folder_find{background-image:url(../icons/menu/folder_find.gif)!important;background-repeat:no-repeat;}
.mnu-folder_image{background-image:url(../icons/menu/folder_image.gif)!important;background-repeat:no-repeat;}
.mnu-group{background-image:url(../icons/menu/group.gif)!important;background-repeat:no-repeat;}
.mnu-group_edit{background-image:url(../icons/menu/group_edit.gif)!important;background-repeat:no-repeat;}
.mnu-group_key{background-image:url(../icons/menu/group_key.gif)!important;background-repeat:no-repeat;}
.mnu-house{background-image:url(../icons/menu/house.gif)!important;background-repeat:no-repeat;}
.mnu-house_link{background-image:url(../icons/menu/house_link.gif)!important;background-repeat:no-repeat;}
.mnu-icon_clock{background-image:url(../icons/menu/icon_clock.gif)!important;background-repeat:no-repeat;}
.mnu-icon_download{background-image:url(../icons/menu/icon_download.gif)!important;background-repeat:no-repeat;}
.mnu-icon_extension{background-image:url(../icons/menu/icon_extension.gif)!important;background-repeat:no-repeat;}
.mnu-icon_favourites{background-image:url(../icons/menu/icon_favourites.gif)!important;background-repeat:no-repeat;}
.mnu-icon_key{background-image:url(../icons/menu/icon_key.gif)!important;background-repeat:no-repeat;}
.mnu-icon_monitor_pc{background-image:url(../icons/menu/icon_monitor_pc.gif)!important;background-repeat:no-repeat;}
.mnu-icon_padlock{background-image:url(../icons/menu/icon_padlock.gif)!important;background-repeat:no-repeat;}
.mnu-icon_security{background-image:url(../icons/menu/icon_security.gif)!important;background-repeat:no-repeat;}
.mnu-icon_wand{background-image:url(../icons/menu/icon_wand.gif)!important;background-repeat:no-repeat;}
.mnu-icon_world{background-image:url(../icons/menu/icon_world.gif)!important;background-repeat:no-repeat;}
.mnu-image{background-image:url(../icons/menu/image.gif)!important;background-repeat:no-repeat;}
.mnu-image_edit{background-image:url(../icons/menu/image_edit.gif)!important;background-repeat:no-repeat;}
.mnu-ipod{background-image:url(../icons/menu/ipod.gif)!important;background-repeat:no-repeat;}
.mnu-ipod_cast{background-image:url(../icons/menu/ipod_cast.gif)!important;background-repeat:no-repeat;}
.mnu-key{background-image:url(../icons/menu/key.gif)!important;background-repeat:no-repeat;}
.mnu-layout_sidebar{background-image:url(../icons/menu/layout_sidebar.gif)!important;background-repeat:no-repeat;}
.mnu-lightbulb{background-image:url(../icons/menu/lightbulb.gif)!important;background-repeat:no-repeat;}
.mnu-lightning{background-image:url(../icons/menu/lightning.gif)!important;background-repeat:no-repeat;}
.mnu-link_edit{background-image:url(../icons/menu/link_edit.gif)!important;background-repeat:no-repeat;}
.mnu-list_images{background-image:url(../icons/menu/list_images.gif)!important;background-repeat:no-repeat;}
.mnu-lock{background-image:url(../icons/menu/lock.gif)!important;background-repeat:no-repeat;}
.mnu-lock_edit{background-image:url(../icons/menu/lock_edit.gif)!important;background-repeat:no-repeat;}
.mnu-lock_open{background-image:url(../icons/menu/lock_open.gif)!important;background-repeat:no-repeat;}
.mnu-map{background-image:url(../icons/menu/map.gif)!important;background-repeat:no-repeat;}
.mnu-map_edit{background-image:url(../icons/menu/map_edit.gif)!important;background-repeat:no-repeat;}
.mnu-medal_gold_1{background-image:url(../icons/menu/medal_gold_1.gif)!important;background-repeat:no-repeat;}
.mnu-medal_gold_2{background-image:url(../icons/menu/medal_gold_2.gif)!important;background-repeat:no-repeat;}
.mnu-medal_gold_3{background-image:url(../icons/menu/medal_gold_3.gif)!important;background-repeat:no-repeat;}
.mnu-money_yen{background-image:url(../icons/menu/money_yen.gif)!important;background-repeat:no-repeat;}
.mnu-music{background-image:url(../icons/menu/music.gif)!important;background-repeat:no-repeat;}
.mnu-newspaper{background-image:url(../icons/menu/newspaper.gif)!important;background-repeat:no-repeat;}
.mnu-note{background-image:url(../icons/menu/note.gif)!important;background-repeat:no-repeat;}
.mnu-note_edit{background-image:url(../icons/menu/note_edit.gif)!important;background-repeat:no-repeat;}
.mnu-note_go{background-image:url(../icons/menu/note_go.gif)!important;background-repeat:no-repeat;}
.mnu-overlays{background-image:url(../icons/menu/overlays.gif)!important;background-repeat:no-repeat;}
.mnu-package{background-image:url(../icons/menu/package.gif)!important;background-repeat:no-repeat;}
.mnu-page{background-image:url(../icons/menu/page.gif)!important;background-repeat:no-repeat;}
.mnu-page_edit{background-image:url(../icons/menu/page_edit.gif)!important;background-repeat:no-repeat;}
.mnu-page_find{background-image:url(../icons/menu/page_find.gif)!important;background-repeat:no-repeat;}
.mnu-page_key{background-image:url(../icons/menu/page_key.gif)!important;background-repeat:no-repeat;}
.mnu-page_paintbrush{background-image:url(../icons/menu/page_paintbrush.gif)!important;background-repeat:no-repeat;}
.mnu-page_red{background-image:url(../icons/menu/page_red.gif)!important;background-repeat:no-repeat;}
.mnu-page_save{background-image:url(../icons/menu/page_save.gif)!important;background-repeat:no-repeat;}
.mnu-page_sound{background-image:url(../icons/menu/page_sound.gif)!important;background-repeat:no-repeat;}
.mnu-page_white_paintbrush{background-image:url(../icons/menu/page_white_paintbrush.gif)!important;background-repeat:no-repeat;}
.mnu-page_white_paste{background-image:url(../icons/menu/page_white_paste.gif)!important;background-repeat:no-repeat;}
.mnu-page_white_picture{background-image:url(../icons/menu/page_white_picture.gif)!important;background-repeat:no-repeat;}
.mnu-page_white_stack{background-image:url(../icons/menu/page_white_stack.gif)!important;background-repeat:no-repeat;}
.mnu-page_white_text{background-image:url(../icons/menu/page_white_text.gif)!important;background-repeat:no-repeat;}
.mnu-page_white_world{background-image:url(../icons/menu/page_white_world.gif)!important;background-repeat:no-repeat;}
.mnu-page_wizard{background-image:url(../icons/menu/page_wizard.gif)!important;background-repeat:no-repeat;}
.mnu-phone{background-image:url(../icons/menu/phone.gif)!important;background-repeat:no-repeat;}
.mnu-script{background-image:url(../icons/menu/script.gif)!important;background-repeat:no-repeat;}
.mnu-server_database{background-image:url(../icons/menu/server_database.gif)!important;background-repeat:no-repeat;}
.mnu-shield{background-image:url(../icons/menu/shield.gif)!important;background-repeat:no-repeat;}
.mnu-status_online{background-image:url(../icons/menu/status_online.gif)!important;background-repeat:no-repeat;}
.mnu-task{background-image:url(../icons/menu/task.gif)!important;background-repeat:no-repeat;}
.mnu-table{background-image:url(../icons/menu/table.gif)!important;background-repeat:no-repeat;}
.mnu-telephone{background-image:url(../icons/menu/telephone.gif)!important;background-repeat:no-repeat;}
.mnu-tux{background-image:url(../icons/menu/tux.gif)!important;background-repeat:no-repeat;}
.mnu-user{background-image:url(../icons/menu/user.gif)!important;background-repeat:no-repeat;}
.mnu-user_comment{background-image:url(../icons/menu/user_comment.gif)!important;background-repeat:no-repeat;}
.mnu-vssver{background-image:url(../icons/menu/vssver.scc)!important;background-repeat:no-repeat;}
.mnu-weather_cloudy{background-image:url(../icons/menu/weather_cloudy.gif)!important;background-repeat:no-repeat;}
.mnu-weather_sun{background-image:url(../icons/menu/weather_sun.gif)!important;background-repeat:no-repeat;}
.mnu-world{background-image:url(../icons/menu/world.gif)!important;background-repeat:no-repeat;}
.mnu-wrench_orange{background-image:url(../icons/menu/wrench_orange.gif)!important;background-repeat:no-repeat;}
